<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="base_scan_joint" type="fixed">
        <parent link="base_link"/> 
        <child link="base_scan"/>
        <origin xyz="0.2 0 0.35" rpy="0 0 0"/>
    </joint>

    <link name="base_scan">
        <visual>        
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.05" length="0.1"/>
            </geometry>
            <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
        </collision>
        <inertial>
            <mass value="0.1"/>
            <inertia ixx="0.000104" ixy="0.0" ixz="0.0"
                     iyy="0.000028" iyz="0.0"
                     izz="0.000091"/>
        </inertial>
    </link>

    <gazebo reference="base_scan">
        <sensor name="lidar" type="gpu_lidar">
            <update_rate>10</update_rate>
            <topic>/scan</topic>
            <gz_frame_id>base_scan</gz_frame_id>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14156</min_angle>
                        <max_angle>3.14156</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.05</min>
                    <max>10.0</max>
                    <resolution>0.01</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>
            <always_on>1</always_on>
            <visualize>true</visualize>
        </sensor>
    </gazebo>
</robot>